<!--The whole content below can be removed with the new code.-->
<div class="main navigation">
  <app-navigation></app-navigation>
</div>


<h3>Posts</h3>
<div *ngIf="posts">
  <table>
    <tr>
        <th>Id</th>
      <th>Post Title</th>
      <th>Post Description</th>
      <th>Action</th>
    </tr>

      <tr>
          <div *ngFor="let post of posts.post">
              {{API_URL}}
          <td>{{post.id}}</td>
        <!--<td><h3>{{post.title}}</h3></td>-->
		<td><h3>{{post.name}}</h3></td>
		<td><img src="http://127.0.0.1:8000/{{post.image}}" alt="{{post.name}}" width="150" height="150"></td>
      <!--<td><p>{{post.body}}</p></td>-->
	  <td><p>{{post.description}}</p></td>
        <td><a href="" [routerLink]="['/post', post.id]" >View Detail</a></td>
              <!--<td><a href="" [routerLink]="['/post', post.id]" (click)="onSelect(post)">View Detail</a></td>-->
          </div>
      </tr>

  </table>
</div>